@use '../../styles/mixins.scss';

.cardContainer {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    height: var(--card-height, auto);
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.img {
    width: 100%;
    height: auto;
    margin-bottom: 2px;
    opacity: 1;
}

.animateAppear {
    animation: appear var(--tr-slow) forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.link {
    cursor: zoom-in;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

    image, div, p {
        pointer-events: none;
    }
}

.userInfo {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 20px;
    bottom: 20px;

    p {
        font-size: var(--fs-xs);
        color: white;
        font-weight: 600;
    }
}

.container:hover,
.container:focus {
    .userInfo,
    .likesContainer {
        opacity: 1;
    }

    .overlay {
        opacity: 0.2;
    }
}

.loader {
    pointer-events: none;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: #e2e5e7;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    background-size: 15vw 100%;
    background-repeat: no-repeat;
    background-position: left -40px top 0;
    animation: shine 1s ease infinite;

    &[data-display="true"] {
        display: block;
    }
}

@keyframes shine {
	to {
		// Move shine from left to right, with offset on the right based on the width of the shine - see background-size
		background-position: right -40px top 0;
	}
}

.imgUser {
    border-radius: 50%;
    margin-right: var(--mg-sm);

    // left: 30px;
    // bottom: 50px;
}

.userInfo,
.overlay,
.likesContainer {
    opacity: 0;
    transition: opacity var(--tr-base);
}

.overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

.descriptionContainer {
    .userInfo {
        position: relative;
        opacity: 1;
        left: 0;
        bottom: 0;
        margin-top: -8px;


        p {
            color: var(--c-font-light);
            font-size: var(--fs-sm);
            max-width: 70%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .description,
    .descriptionGrid {
        margin-top: var(--mg-xs);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: var(--fs-sm);
    }

    .likesContainer {
        top: 50%;
        right: 10px;
        opacity: 1;
        transform: translateY(-50%);

        img {
            filter: invert(1);
        }
    }
}

.descriptionContainer {
    position: relative;
    transition: opacity var(--tr-base);
    height: 90px;
    opacity: 1;
    transition: opacity var(--tr-fast) 0.3s, height var(--tr-fast);
}

div[data-display-style="masonry"] .cardContainer {
    .descriptionContainer {
        opacity: 0;
        height: 0;
        transition: opacity 0s 0s, height var(--tr-fast);
    }
}

div[data-display-style="grid"] .cardContainer {

    .link .userInfo,
    .link .likesContainer {
        display: none;
    }

    .description {
        display: none;
    }

    .descriptionGrid {
        display: block;
        border-bottom: 10px solid transparent;
        margin-top: 0;
        font-size: var(--fs-sm);
    }
}

div[data-display-style="masonry"] .cardContainer,
div[data-display-style="grid"] .cardContainer {
    .dummyText {
        display: none;
    }
}

div[data-display-style="list"] .cardContainer {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: var(--c-grey-lightest);
    margin-bottom: var(--mg-sm);

    .container {
        height: 27vw !important;
        margin-bottom: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .descriptionContainer {
        padding: 40px 60px 40px 40px;

        .description {
            font-size: var(--fs-lg);
            font-weight: 500;
        }
    }

    .userInfo p {
        color: var(--c-font-light);
    }

    .descriptionGrid {
        display: none;
    }
}

div[data-display-style="list"],
div[data-display-style="grid"] {
    p.likesNum {
        color: var(--c-font-light);
    }
}

.dummyText {
    color: var(--c-font-light);
    padding-right: 8px;
    font-size: var(--fs-sm);
}

div[data-display-style="slider"] .cardContainer {
    height: var(--slider-height) !important;
    width: min-content;
    margin-right: var(--mg-sm);

    .container {
        height: var(--slider-height) !important;
        width: var(--slider-height);
        margin-bottom: 0;
    }

    .img[data-is-wider="true"] {
        width: auto;
        height: 100%;
    }

    .img[data-is-wider="false"] {
        height: auto;
        width: 100%;
    }

}

.likesContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 20px;
    right: 20px;

    p.likesNum {
        font-size: var(--fs-2xs);
        color: white;
        font-weight: 400;
        padding-top: 3px;
    }

    img {
        margin-left: var(--mg-xs);
    }
}

@include mixins.desktop-sm {
    div[data-display-style="list"] .cardContainer {
        .descriptionContainer {
            padding: 20px;

            .description {
                margin-bottom: 0;
            }
        }

        .likesContainer {

            p.likesNum {
                font-size: var(--fs-xs);
            }
        }
    }

    .dummyText {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@include mixins.mobile-tablet {
    div[data-display-style="list"] .cardContainer {
        grid-template-columns: 100%;
        border-radius: 10px;

        .container {
            height: 60vw !important;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .descriptionContainer {
            padding: 20px;
            height: auto;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
}