.cardContainer {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    height: var(--card-height, auto);
    overflow: hidden;
    transition: height var(--tr-base);
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.img {
    width: 100%;
    height: auto;
    margin-bottom: 2px;
}

.link {
    cursor: pointer;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.userInfo {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 20px;
    bottom: 20px;

    p {
        font-size: var(--fs-xs);
        color: white;
        font-weight: 600;
    }
}

.container:hover,
.container:focus {
    .userInfo,
    .likesContainer {
        opacity: 1;
    }

    .overlay {
        opacity: 0.2;
    }
}

.imgUser {
    border-radius: 50%;
    margin-right: var(--mg-sm);

    // left: 30px;
    // bottom: 50px;
}

.userInfo,
.overlay,
.likesContainer {
    opacity: 0;
    transition: opacity var(--tr-base);
}

.overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

.likesContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 20px;
    right: 20px;

    p {
        font-size: var(--fs-2xs);
        color: white;
        font-weight: 400;
        padding-top: 3px;
    }

    img {
        margin-left: var(--mg-xs);
    }
}

.descriptionContainer {
    .userInfo {
        position: relative;
        opacity: 1;
        left: 0;
        bottom: 0;
        margin-top: 3px;

        p {
            color: var(--c-grey-darker);
        }
    }

    .description,
    .descriptionGrid {
        margin-top: var(--mg-xs);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .likesContainer {
        top: 50%;
        right: 10px;
        opacity: 1;
        transform: translateY(-50%);

        img {
            filter: invert(1);
        }
    }
}

.descriptionContainer {
    position: relative;
    transition: opacity var(--tr-base);
    height: 90px;
    opacity: 1;
    transition: opacity var(--tr-slow) 0.3s, height var(--tr-fast) 0.2s;
}

.cardContainer[data-display-style="masonry"] {
    .descriptionContainer {
        opacity: 0;
        height: 0;
        transition: opacity var(--tr-fast) 0s, height var(--tr-fast) 0.2s;
    }
}

.cardContainer[data-display-style="grid"] {

    .link .userInfo,
    .link .likesContainer {
        display: none;
    }

    .description {
        display: none;
    }

    .descriptionGrid {
        display: block;
        border-bottom: 10px solid transparent;
    }
}

.cardContainer[data-display-style="masonry"],
.cardContainer[data-display-style="grid"] {
    .dummyText {
        display: none;
    }
}

.cardContainer[data-display-style="list"] {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: var(--c-grey-lightest);
    margin-bottom: var(--mg-sm);

    .container {
        height: 27vw;
        margin-bottom: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .descriptionContainer {
        padding: 40px 60px 40px 40px;

        .description {
            font-size: var(--fs-lg);
            font-weight: 500;
        }
    }

    .descriptionGrid {
        display: none;
    }
}

.dummyText {
    color: var(--c-grey-dark);
    padding-right: 8px;
}