.cardsList {
    width: 100%;

    // &[data-display-style="masonry"],
    // &[data-display-style="grid"],
    // &[data-display-style="list"],
    // &[data-display-style="slider"] {

    // }


    &[data-display-style="masonry"],
    &[data-display-style="grid"] {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        gap: 20px;
    }

    &[data-display-style="list"] {
        display: grid;
        grid-template-columns: 100%;
        gap: 20px;
    }
}
