@use '../../styles/mixins.scss';

.cardsList {
    width: 100%;

    &[data-display-style="masonry"],
    &[data-display-style="grid"] {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        gap: 10px;
    }

    &[data-display-style="list"] {
        display: grid;
        grid-template-columns: 100%;
        gap: 20px;
    }

    &[data-display-style="slider"] {
        display: none;
    }
}

@include mixins.mobile-tablet {
    .cardsList[data-display-style="masonry"],
    .cardsList[data-display-style="grid"],
    .cardsList[data-display-style="list"] {
        grid-template-columns: 100%;
    }
}
