@use '../../../../styles/mixins.scss';

.themeSelector {
    width: 100vw;
}

.container {
    margin: 0 auto;
    height: var(--header-height);
    display: flex;
}

.button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: var(--fs-global);
    margin-right: var(--mg-2xl);

    &[data-selected="true"] {
        text-decoration: underline;
        text-underline-offset: 3px;
        text-decoration-thickness: 2px;
        // text-decoration-style: dotted;
        text-decoration-color: var(--c-grey);
        text-decoration-style: solid;
    }
}

@include mixins.mobile-tablet {
    .themeSelector {
        width: min-content;
    }

    .containerSelectors {
        width: var(--page-content-width);
        align-items: flex-end;
        margin-top: -50px;
        margin-right: auto;
    }

    .button {
        margin-right: var(--mg-lg);
        font-size: 1rem;
    }

    .button:last-child {
        margin-right: 0;
    }
}

@include mixins.mobile {
    .container {
        max-width: 60vw;
        overflow: scroll;
        margin-right: 0;

        .button {
            margin-right: var(--mg-sm);
        }
    }
}


