.themeSelector {
    width: 100vw;
    background: white;
}

.container {
    margin: 0 auto;
    height: var(--header-height);
    display: flex;
}

.button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: var(--fs-global);
    margin-right: var(--mg-2xl);

    &[data-selected="true"] {
        text-decoration: underline;
        text-underline-offset: 3px;
        text-decoration-thickness: 4px;
        // text-decoration-style: dotted;
        text-decoration-color: var(--c-grey);
        text-decoration-style: solid;
    }
}