.slider {
    --slider-height: 67vh;

    position: relative;
    display: none;
}

.sliderContainer {
    overflow: hidden;
}

.slideingContent {
    display: flex;
    flex-wrap: nowrap;
    transition: transform var(--tr-slow);
}

.slider[data-display-style="slider"] {
    display: flex;
    flex-direction: column;
}

.gradient {
    position: absolute;
    right: 0;
    top: 0;
    height: var(--slider-height);
    width: 20px;
    opacity: 1;
    background: linear-gradient(270deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0) 100%);
}
