@use '../../styles/mixins.scss';

.slider {
    --slider-height: 67vh;

    position: relative;
    display: none;
}

.sliderContainer {
    overflow: hidden;
}

.slideingContent {
    display: flex;
    flex-wrap: nowrap;
    transition: transform var(--tr-slow);
}

.slider[data-display-style="slider"] {
    display: flex;
    flex-direction: column;
}

.gradient {
    position: absolute;
    right: 0;
    top: 0;
    height: var(--slider-height);
    width: 20px;
    opacity: 1;
    background: var(--br-slider-gradient);
}

@include mixins.mobile-tablet {
    .slider {
        overflow: hidden;
    }
}